<html>
  <head>
    <title>Create New User</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compitable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-social.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <br>
      <form action="" method="post">
        <div class="form-group col-sm-6">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}" class="form-control">
          </div>
          <div class="form-group col-sm-6">
          <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}" class="form-control">
          </div>

          <div class="form-group col-sm-6">
          <input type="text" placeholder="Age" name="age" value="{{
          request.form.password }}" class="form-control">
          </div>

          <div class="form-group col-sm-6">
          <input type="radio" name="usertype" value="Player" class="form-control" id="player"><label for="player">Player</label>
          <br>
          <input type="radio" name="usertype" value="Coach" class="form-control" id="coach"><label for="coach">Coach</label>
          <br>
          <input type="radio" name="usertype" value="Management" class="form-control" id="management"><label for="management">Management</label>
          <br>
          <input type="radio" name="usertype" value="Medical" class="form-control" id="medical"><label for="medical">Medical</label>
          </div>

        <div class="form-group col-xs-6 col-sm-1">
        <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </form>
      
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>