      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <table>
              {% for player in players %}
              <tr>
                <!-- <td><img src={{player.path}} height="400" width="400"></td> -->
                <td>{{player.name}}</td>
                <td>{{player.jersey}}</td>
                <td>{{player.height}}</td>
                <td>{{player.weight}}</td>
                <td>{{player.position}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>